table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td, th {
    border: 1px solid #000000;
    width: 80px;
    height: 40px;
}

th {
    font-weight: bold;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#controleHeader {
    border: 0;
    font-weight: bold;
}

.white {
    background-color: ghostwhite;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}